.flex-container {
display: flex;
flex-flow: row wrap;
position: relative;
align-items: center;
justify-content: center;
}

.child {
margin: 4px;
/* flex: 0 1 calc(35% - 180px); <-- adjusting for margin */
}

.line{
border: 3px solid rgb(255, 217, 0);
}

.lineTwo{
border-bottom: 3px solid rgb(0, 0, 0);
}